.img-sprite, .img-PageLast, .PageArea a.PageLast:before, .img-PageLast_disabled, .img-PageNext, .PageArea a.PageNext:after, .img-PageNext_disabled, .img-facebook, .HD_Social_item.facebook, .img-googleplus, .HD_Social_item.google, .img-link_fb, .img-link_in, .img-link_mail, .img-myComment, .img-myInfo, .HD_MemberTool_item#myInfo:before, .img-myLogout, .HD_MemberTool_item#myLogout:before, .img-myPromotion, .HD_MemberTool_item#myPromotion:before, .img-myRss, .img-mySearch, .HD_MemberTool_item#mySearch:before, .img-myWantList, .HD_MemberTool_item#myWantList:before, .img-search, .HD_Search_btn, .img-search_btn, .img-share_arr, .img-share_arr02, .img-share_fb, .img-share_google, .img-top, .img-userPhoto {
  background: url('../images/img-s47f52086ff.png') no-repeat;
}

.img-PageLast, .PageArea a.PageLast:before {
  background-position: 0 -1522px;
  height: 10px;
  width: 7px;
}
.img-PageLast:hover, .PageArea a.PageLast:hover:before, .img-PageLast.PageLast_hover, .PageArea a.PageLast_hover.PageLast:before, .img-PageLast.PageLast-hover, .PageArea a.PageLast-hover.PageLast:before {
  background-position: 0 -1330px;
}

.img-PageLast_disabled, .PageArea a.PageLast._disabled:before {
  background-position: 0 -1552px;
  height: 10px;
  width: 7px;
}

.img-PageNext, .PageArea a.PageNext:after {
  background-position: 0 -1462px;
  height: 10px;
  width: 7px;
}
.img-PageNext:hover, .PageArea a.PageNext:hover:after, .img-PageNext.PageNext_hover, .PageArea a.PageNext_hover.PageNext:after, .img-PageNext.PageNext-hover, .PageArea a.PageNext-hover.PageNext:after {
  background-position: 0 -1360px;
}

.img-PageNext_disabled, .PageArea a.PageNext._disabled:after {
  background-position: 0 -1492px;
  height: 10px;
  width: 7px;
}

.img-facebook, .HD_Social_item.facebook {
  background-position: 0 -570px;
  height: 28px;
  width: 28px;
}
.img-facebook:hover, .HD_Social_item.facebook:hover, .img-facebook.facebook_hover, .facebook_hover.HD_Social_item.facebook, .img-facebook.facebook-hover, .facebook-hover.HD_Social_item.facebook {
  background-position: 0 -618px;
}

.img-googleplus, .HD_Social_item.google {
  background-position: 0 -399px;
  height: 28px;
  width: 28px;
}
.img-googleplus:hover, .HD_Social_item.google:hover, .img-googleplus.googleplus_hover, .googleplus_hover.HD_Social_item.google, .img-googleplus.googleplus-hover, .googleplus-hover.HD_Social_item.google {
  background-position: 0 -522px;
}

.img-link_fb {
  background-position: 0 -54px;
  height: 34px;
  width: 110px;
}
.img-link_fb:hover, .img-link_fb.link_fb_hover, .img-link_fb.link_fb-hover {
  background-position: 0 0;
}

.img-link_in {
  background-position: 0 -162px;
  height: 34px;
  width: 110px;
}
.img-link_in:hover, .img-link_in.link_in_hover, .img-link_in.link_in-hover {
  background-position: 0 -108px;
}

.img-link_mail {
  background-position: 0 -270px;
  height: 34px;
  width: 110px;
}
.img-link_mail:hover, .img-link_mail.link_mail_hover, .img-link_mail.link_mail-hover {
  background-position: 0 -216px;
}

.img-myComment {
  background-position: 0 -1294px;
  height: 16px;
  width: 16px;
}
.img-myComment:hover, .img-myComment.myComment_hover, .img-myComment.myComment-hover {
  background-position: 0 -1426px;
}

.img-myInfo, .HD_MemberTool_item#myInfo:before {
  background-position: 0 -1738px;
  height: 16px;
  width: 16px;
}
.img-myInfo:hover, .HD_MemberTool_item#myInfo:hover:before, .img-myInfo.myInfo_hover, .myInfo_hover.HD_MemberTool_item#myInfo:before, .img-myInfo.myInfo-hover, .myInfo-hover.HD_MemberTool_item#myInfo:before {
  background-position: 0 -1774px;
}

.img-myLogout, .HD_MemberTool_item#myLogout:before {
  background-position: 0 -1150px;
  height: 16px;
  width: 16px;
}
.img-myLogout:hover, .HD_MemberTool_item#myLogout:hover:before, .img-myLogout.myLogout_hover, .myLogout_hover.HD_MemberTool_item#myLogout:before, .img-myLogout.myLogout-hover, .myLogout-hover.HD_MemberTool_item#myLogout:before {
  background-position: 0 -1186px;
}

.img-myPromotion, .HD_MemberTool_item#myPromotion:before {
  background-position: 0 -1078px;
  height: 16px;
  width: 16px;
}
.img-myPromotion:hover, .HD_MemberTool_item#myPromotion:hover:before, .img-myPromotion.myPromotion_hover, .myPromotion_hover.HD_MemberTool_item#myPromotion:before, .img-myPromotion.myPromotion-hover, .myPromotion-hover.HD_MemberTool_item#myPromotion:before {
  background-position: 0 -1114px;
}

.img-myRss {
  background-position: 0 -817px;
  height: 16px;
  width: 16px;
}
.img-myRss:hover, .img-myRss.myRss_hover, .img-myRss.myRss-hover {
  background-position: 0 -1042px;
}

.img-mySearch, .HD_MemberTool_item#mySearch:before {
  background-position: 0 -954px;
  height: 16px;
  width: 16px;
}
.img-mySearch:hover, .HD_MemberTool_item#mySearch:hover:before, .img-mySearch.mySearch_hover, .mySearch_hover.HD_MemberTool_item#mySearch:before, .img-mySearch.mySearch-hover, .mySearch-hover.HD_MemberTool_item#mySearch:before {
  background-position: 0 -1222px;
}

.img-myWantList, .HD_MemberTool_item#myWantList:before {
  background-position: 0 -1258px;
  height: 16px;
  width: 16px;
}
.img-myWantList:hover, .HD_MemberTool_item#myWantList:hover:before, .img-myWantList.myWantList_hover, .myWantList_hover.HD_MemberTool_item#myWantList:before, .img-myWantList.myWantList-hover, .myWantList-hover.HD_MemberTool_item#myWantList:before {
  background-position: 0 -1390px;
}

.img-search, .HD_Search_btn {
  background-position: 0 -666px;
  height: 35px;
  width: 55px;
}
.img-search:hover, .HD_Search_btn:hover, .img-search.search_hover, .search_hover.HD_Search_btn, .img-search.search-hover, .search-hover.HD_Search_btn {
  background-position: 0 -899px;
}

.img-search_btn, .md_searchBox .HD_Search_btn {
  background-position: 0 -768px;
  height: 29px;
  width: 39px;
}
.img-search_btn:hover, .md_searchBox .HD_Search_btn:hover, .img-search_btn.search_btn_hover, .md_searchBox .search_btn_hover.HD_Search_btn, .img-search_btn.search_btn-hover, .md_searchBox .search_btn-hover.HD_Search_btn {
  background-position: 0 -721px;
}

.img-share_arr {
  background-position: 0 -1634px;
  height: 32px;
  width: 6px;
}

.img-share_arr02 {
  background-position: 0 -1686px;
  height: 32px;
  width: 6px;
}

.img-share_fb {
  background-position: 0 -1582px;
  height: 32px;
  width: 32px;
}

.img-share_google {
  background-position: 0 -990px;
  height: 32px;
  width: 32px;
}

.img-top {
  background-position: 0 -447px;
  height: 55px;
  width: 41px;
}
.img-top:hover, .img-top.top_hover, .img-top.top-hover {
  background-position: 0 -324px;
}

.img-userPhoto {
  background-position: 0 -853px;
  height: 26px;
  width: 26px;
}

body {
  -webkit-text-size-adjust: none;
}

body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-family: Verdana, "Microsoft JhengHei", \5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  display: inline;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

::selection {
  background: #3ebfc7;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: inherit;
}

input, button, textarea, select, optgroup, option {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

code, kbd, samp, tt {
  font-size: 100%;
}

a:link, a:visited {
  color: #1a86d6;
}

a:hover, a:active {
  text-decoration: underline;
}

input, button, textarea, select {
  *font-size: 100%;
}

body {
  line-height: 1.5em;
}

ol, ul, li {
  list-style: none;
}

:link, :visited, ins {
  text-decoration: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

section, article, aside, footer, header, nav, main {
  display: block;
}

html, body {
  height: 100%;
}

.bg_gray {
  background: whitesmoke;
}

.WD_H {
  min-height: 100%;
}

.HD {
  height: 104px;
}
.HD .width_fix {
  max-width: 1275px;
  margin: 0 auto;
}

._hidden {
  display: none !important;
}

.BD .width_fix {
  *zoom: 1;
  max-width: 1255px;
  _width: 1255px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.BD .width_fix:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1024px) {
  .BD .width_fix {
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .BD .width_fix:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (max-width: 768px) {
  .BD .width_fix {
    max-width: 745px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .BD .width_fix:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (max-width: 480px) {
  .BD .width_fix {
    max-width: 490px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .BD .width_fix:after {
    content: "";
    display: table;
    clear: both;
  }
}

.FT {
  background-color: #e6e6e6;
  padding: 8px 0;
}
.FT .width_fix {
  max-width: 1275px;
  margin: 0 auto;
}

.art_list_Box, .art_content_Box, .errorBox {
  width: 72.90837%;
  float: left;
  margin-right: 1.59363%;
  display: inline;
}
@media (max-width: 1024px) {
  .art_list_Box, .art_content_Box, .errorBox {
    width: 66%;
    float: left;
    margin-right: 2%;
  }
}
@media (max-width: 768px) {
  .art_list_Box, .art_content_Box, .errorBox {
    width: 100%;
    float: left;
    margin-right: 2.68456%;
  }
}
@media (max-width: 480px) {
  .art_list_Box, .art_content_Box, .errorBox {
    width: 100%;
    float: left;
    margin-right: 4.08163%;
  }
}

.art_list_pic {
  width: 45.81673%;
  float: left;
  margin-right: 1.59363%;
  display: inline;
  margin: 0 !important;
}
@media (max-width: 1024px) {
  .art_list_pic {
    width: 49%;
    float: left;
    margin-right: 2%;
  }
}
@media (max-width: 768px) {
  .art_list_pic {
    width: 54.36242%;
    float: left;
    margin-right: 2.68456%;
  }
}
@media (max-width: 480px) {
  .art_list_pic {
    width: 100%;
    float: left;
    margin-right: 4.08163%;
  }
}

.art_list_text {
  width: 52.58964%;
  float: left;
  margin-right: 1.59363%;
  display: inline;
  margin: 0 !important;
}
.art_list_text:nth-child(1n) {
  float: right;
  margin-right: 0;
}
@media (max-width: 1024px) {
  .art_list_text {
    width: 49%;
    float: left;
    margin-right: 2%;
  }
}
@media (max-width: 768px) {
  .art_list_text {
    width: 42.95302%;
    float: left;
    margin-right: 2.68456%;
  }
}
@media (max-width: 480px) {
  .art_list_text {
    width: 100%;
    float: left;
    margin-right: 4.08163%;
  }
}

.art_md_list_Box {
  margin: 0 !important;
  width: 25.49801%;
  float: left;
  margin-right: 1.59363%;
  display: inline;
}
.art_md_list_Box:nth-child(1n) {
  float: right;
  margin-right: 0;
}
@media (max-width: 1024px) {
  .art_md_list_Box {
    width: 32%;
    float: left;
    margin-right: 2%;
  }
}
@media (max-width: 768px) {
  .art_md_list_Box {
    width: 100%;
    float: left;
    margin-right: 2.68456%;
  }
}
@media (max-width: 480px) {
  .art_md_list_Box {
    width: 100%;
    float: left;
    margin-right: 4.08163%;
  }
}

.HD_SearchTools {
  margin: 0 !important;
  width: 32.27092%;
  float: left;
  margin-right: 1.59363%;
  display: inline;
}
@media (max-width: 1024px) {
  .HD_SearchTools {
    width: 49%;
    float: left;
    margin-right: 2%;
  }
}
@media (max-width: 768px) {
  .HD_SearchTools {
    width: 85.10067%;
    float: left;
    margin-right: 2.68456%;
  }
}
@media (max-width: 480px) {
  .HD_SearchTools {
    width: 72.04082%;
    float: left;
    margin-right: 4.08163%;
  }
}

.HD_Unit_Area {
  left: 0;
  margin: 0;
}

.mt {
  margin-top: 16px;
}

.mr {
  margin-right: 16px;
}

.mb {
  margin-bottom: 16px;
}

.ml {
  margin-left: 16px;
}

.ma {
  margin: 16px;
}

.pt {
  padding-top: 16px;
}

.pr {
  padding-right: 16px;
}

.pb {
  padding-bottom: 16px;
}

.pl {
  padding-left: 16px;
}

.pa {
  padding: 16px;
}

html, body {
  color: #2d3340;
  font-size: 16px;
}

a:link, a:visited {
  color: #1a86d6;
}

.fs_xxs {
  font-size: 12px;
}

.fs_xs {
  font-size: 13px;
}

.fs_s {
  font-size: 15px;
}

.fs_m {
  font-size: 16px;
}

.fs_l {
  font-size: 20px;
}

.fs_xl {
  font-size: 24px;
}

.fs_xxl {
  font-size: 28px;
}

.fc_main {
  color: #46709b;
}

.fw_n {
  font-weight: 400;
}

.fw_b {
  font-weight: bold;
}

.HD, .BD, .FT {
  width: 100%;
}

.HD {
  position: relative;
  background-color: white;
  z-index: 999;
}
@media (max-width: 768px) {
  .HD {
    height: 64px;
    position: fixed;
    top: 0;
  }
}

.BD {
  position: absolute;
  top: 104px;
}
@media (max-width: 768px) {
  .BD {
    top: 64px;
  }
}

._fix {
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 9999;
}
._fix .HD_Channel {
  display: none;
}
._fix .HD_bgc {
  top: 0;
}
._fix .HD_Logo {
  height: 64px;
}
._fix .HD_Logo_a {
  height: 64px;
  line-height: 64px;
}
._fix .HD_Logo_img {
  width: 200px;
  height: auto;
  margin-top: -15px;
}

.HD_bgc {
  position: absolute;
  width: 100%;
  top: 40px;
  height: 64px;
  background-color: #393f4e;
}
@media (max-width: 768px) {
  .HD_bgc {
    top: 0;
  }
}

.HD_Logo {
  position: absolute;
  width: 220px;
  height: 104px;
  background-color: #46709b;
}
@media (max-width: 768px) {
  .HD_Logo {
    display: none;
  }
}

.HD_Logo_a {
  display: block;
  text-align: center;
  height: 104px;
  line-height: 104px;
}

.HD_Logo_img {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.HD_Menu {
  margin-left: 220px;
  position: relative;
}
@media (max-width: 768px) {
  .HD_Menu {
    margin-left: 0;
  }
}

.HD_Nav {
  height: 64px;
  width: 100%;
  position: absolute;
  *zoom: 1;
}
.HD_Nav:after {
  content: "";
  display: table;
  clear: both;
}

.HD_Channel_List {
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 768px) {
  .HD_Channel_List {
    display: none;
  }
}

.HD_Channel_item {
  display: inline-block;
  font-size: 16px;
  padding: 0 13px;
  height: 40px;
  line-height: 40px;
}
.HD_Channel_item:link, .HD_Channel_item:visited {
  color: #393f4e;
  text-decoration: none;
}
.HD_Channel_item:hover {
  color: #46709b;
}

.HD_Social {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 6px 12px;
  *zoom: 1;
}
.HD_Social:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 768px) {
  .HD_Social {
    display: none;
  }
}

.HD_Social_item {
  display: block;
  float: left;
  margin-left: 8px;
}
.HD_Social_item:first-child {
  margin-left: 0;
}

.HD_Cate_Box {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  z-index: 150;
}
.HD_Cate_Box._open .HD_Cate {
  background-color: #2d3340;
}
.HD_Cate_Box._open .HD_Cate:after {
  border: 0;
  display: block;
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #aaaaaa;
  content: "";
  display: block;
}
.HD_Cate_Box._open .HD_Cate:hover {
  background-color: #1e2430;
}
.HD_Cate_Box._open .HD_Cate:hover:after {
  display: block;
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  content: "";
  display: block;
}

@media (max-width: 768px) {
  .HD_Cate_Box {
    width: 69.23077px;
    background: #46709b;
    height: 64px;
  }
  .HD_Cate_Box._open {
    background-color: #1e2430;
  }
  .HD_Cate_Box._open .HD_Cate_Box {
    background-color: #1e2430;
  }
  .HD_Cate_Box._open .HD_Cate:before {
    background-image: -webkit-linear-gradient(top, #46709b, #46709b 20%, #2d3340 20%, #2d3340 40%, #46709b 40%, #46709b 60%, #2d3340 60%, #2d3340 80%, #46709b 80%, #46709b 100%);
    background-image: -o-linear-gradient(top, #46709b, #46709b 20%, #2d3340 20%, #2d3340 40%, #46709b 40%, #46709b 60%, #2d3340 60%, #2d3340 80%, #46709b 80%, #46709b 100%);
    background-image: linear-gradient(top, #46709b, #46709b 20%, #2d3340 20%, #2d3340 40%, #46709b 40%, #46709b 60%, #2d3340 60%, #2d3340 80%, #46709b 80%, #46709b 100%);
  }
  .HD_Cate_Box._open .HD_Cate:after {
    border: 0;
  }
  .HD_Cate_Box._open .HD_Cate:hover:after {
    border: 0;
  }
  .HD_Cate_Box._open .HD_Cate:hover:before {
    background-image: -webkit-linear-gradient(top, #46709b, #46709b 20%, #1e2430 20%, #1e2430 40%, #46709b 40%, #46709b 60%, #1e2430 60%, #1e2430 80%, #46709b 80%, #46709b 100%);
    background-image: -o-linear-gradient(top, #46709b, #46709b 20%, #1e2430 20%, #1e2430 40%, #46709b 40%, #46709b 60%, #1e2430 60%, #1e2430 80%, #46709b 80%, #46709b 100%);
    background-image: linear-gradient(top, #46709b, #46709b 20%, #1e2430 20%, #1e2430 40%, #46709b 40%, #46709b 60%, #1e2430 60%, #1e2430 80%, #46709b 80%, #46709b 100%);
  }
}

.HD_Cate {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 90px;
  text-align: center;
  height: 52px;
  padding-top: 12px;
  color: #aaaaaa;
  text-decoration: none;
  line-height: 28px;
  cursor: pointer;
  display: none;
}
.HD_Cate:after {
  display: block;
  height: 0;
  width: 0;
  border-top: 6px solid #aaaaaa;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  display: block;
  margin: 3px auto 0;
}
.HD_Cate:hover {
  color: white;
  background-color: #2d3340;
}
.HD_Cate:hover:after {
  display: block;
  height: 0;
  width: 0;
  border-top: 6px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  display: block;
}

@media (max-width: 768px) {
  .HD_Cate {
    display: block;
    font-size: 0;
    width: 69.23077px;
  }
  .HD_Cate:before {
    content: "";
    background-image: -webkit-linear-gradient(top, white, white 20%, #46709b 20%, #46709b 40%, white 40%, white 60%, #46709b 60%, #46709b 80%, white 80%, white 100%);
    background-image: -o-linear-gradient(top, white, white 20%, #46709b 20%, #46709b 40%, white 40%, white 60%, #46709b 60%, #46709b 80%, white 80%, white 100%);
    background-image: linear-gradient(top, #ffffff, #ffffff 20%, #46709b 20%, #46709b 40%, #ffffff 40%, #ffffff 60%, #46709b 60%, #46709b 80%, #ffffff 80%, #ffffff 100%);
    width: 22.5px;
    height: 22.85714px;
    display: inline-block;
    margin-top: 9.14286px;
  }
  .HD_Cate:after {
    border: 0;
  }
  .HD_Cate:hover {
    background-color: #46709b;
  }
  .HD_Cate:hover:after {
    border: 0;
  }
}

.HD_Cate_list {
  display: none;
  position: absolute;
  top: 64px;
  left: -220px;
  width: 310px;
  background-color: #393f4e;
}
@media (max-width: 1024px) {
  .HD_Cate_list {
    display: none;
  }
}
@media (max-width: 768px) {
  .HD_Cate_list {
    top: 64px;
    left: 0;
    width: 92%;
    border-top: 1px solid #2d3340;
    position: fixed;
    padding: 4%;
    overflow-y: auto;
    max-height: 84%;
  }
  .HD_Cate_list._padHide {
    display: none !important;
  }
}
.HD_Cate_list .HD_btn_back {
  display: none;
}
@media (max-width: 768px) {
  .HD_Cate_list .HD_btn_back {
    display: block;
  }
}
@media screen and (min-width: 769px) {
  .HD_Cate_list {
    display: none !important;
  }
}

.HD_Cate_list_item:link, .HD_Cate_list_item:visited {
  display: block;
  line-height: 36px;
  font-size: 16px;
  color: white;
  padding: 0 13px;
  text-decoration: none;
}
.HD_Cate_list_item:hover {
  background: #1e2430;
}
@media (max-width: 768px) {
  .HD_Cate_list_item {
    display: block;
  }
}

.HD_Cate_list_pad {
  display: none;
  position: absolute;
  top: 64px;
  left: -220px;
  width: 310px;
  background-color: #393f4e;
}
@media (max-width: 768px) {
  .HD_Cate_list_pad {
    top: 64px;
    left: 0;
    width: 92%;
    border-top: 1px solid #2d3340;
    position: fixed;
    padding: 4%;
  }
}
@media screen and (min-width: 769px) {
  .HD_Cate_list_pad {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .HD_btn_back, .HD_Cate_item, .HD_Cate_list_item {
    display: block;
    font-size: 16px;
    border: 3px solid #42495a;
  }
  .HD_btn_back:link, .HD_btn_back:visited, .HD_Cate_item:link, .HD_Cate_item:visited, .HD_Cate_list_item:link, .HD_Cate_list_item:visited {
    display: block;
    line-height: 43.2px;
    color: white;
    padding: 0 13px;
    text-decoration: none;
  }
  .HD_btn_back:hover, .HD_Cate_item:hover, .HD_Cate_list_item:hover {
    background: #2d3340;
    border: 3px solid #2d3340;
  }
}

@media (max-width: 768px) {
  .HD_Cate_item, .HD_Cate_list_item {
    border: 3px solid #393f4e;
  }
}

.Cate_arr:after {
  display: block;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #656c7d;
  content: "";
  display: block;
  line-height: 43.2px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 13px;
}

.HD_Unit_Box {
  width: 100%;
  float: left;
  height: 44px;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: #393f4e;
  padding-left: 10px;
}
.HD_Unit_Box .HD_Unit_list_item {
  float: left;
  padding: 12px 10px;
}
.HD_Unit_Box a {
  color: whitesmoke;
  font-size: 15px;
  padding: 10px 10px;
}
.HD_Unit_Box a:hover {
  background: #292e3c;
  text-decoration: none;
}
.HD_Unit_Box._drop {
  height: 100%;
  overflow: none;
}

.HD_Unit {
  position: relative;
}
@media (max-width: 768px) {
  .HD_Unit {
    display: none;
  }
}

._unit_more {
  background: #2d3340;
  width: 22px;
  height: 22px;
  line-height: 18px;
  position: absolute;
  right: 0;
  cursor: pointer;
  text-align: center;
  margin-top: 19px;
  border: 1px solid #1e2430;
  z-index: 999;
  display: none;
}
._unit_more:after {
  display: block;
  height: 0;
  width: 0;
  border-top: 5px solid #656c7d;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  display: block;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 9px;
}
._unit_more:hover {
  background: #1e2430;
}
@media (max-width: 768px) {
  ._unit_more {
    display: none;
  }
}
._unit_more._on {
  background: #1e2430;
}

.HD_SearchTools {
  position: absolute;
  right: 0;
  background: #393f4e;
  display: none;
  *zoom: 1;
}
.HD_SearchTools:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 768px) {
  .HD_SearchTools {
    position: absolute;
    left: 84px;
    display: block;
  }
}

.HD_Search {
  right: 0;
  margin: 13.5px 15px 0 0px;
  height: 50.5px;
  *zoom: 1;
}
.HD_Search:after {
  content: "";
  display: table;
  clear: both;
}
.HD_Search form {
  position: relative;
  background-color: #f7f7ff;
  border: 1px solid black;
}
.HD_Search form._open .HD_Search_Cate:after {
  border: 0;
  display: block;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #46709b;
  content: "";
  display: block;
}

@media (max-width: 768px) {
  .HD_Search {
    margin: 13.5px auto 0 auto;
    width: 100%;
  }
  .HD_Search form {
    border: 0;
    background-color: #2d3340;
  }
}

.HD_Search_Cate {
  position: absolute;
  display: block;
  width: 90px;
  height: 35px;
  line-height: 35px;
  border-right: 1px solid #d6d6d6;
  padding: 0 8px;
  font-size: 15px;
  color: #393f4e;
  cursor: default;
}
@media (max-width: 768px) {
  .HD_Search_Cate {
    display: none;
  }
}
.HD_Search_Cate:after {
  display: block;
  height: 0;
  width: 0;
  border-top: 5px solid #46709b;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  display: block;
  position: absolute;
  right: 8px;
  top: 15px;
}
.HD_Search_Cate:hover {
  background-color: #e9e9f4;
}

.HD_Search_Cate_List {
  display: none;
  position: absolute;
  top: 35px;
  left: -1px;
  width: 106px;
  background-color: #f7f7ff;
  border: 1px solid #393f4e;
  z-index: 150;
}

.HD_Search_Cate_List_item:link, .HD_Search_Cate_List_item:visited {
  display: block;
  line-height: 35px;
  padding: 0 8px;
  font-size: 15px;
  color: #393f4e;
  cursor: default;
  text-decoration: none;
}
.HD_Search_Cate_List_item:hover {
  background-color: #e9e9f4;
}

.HD_Search_Box {
  position: relative;
  margin: 0 55px 0 0;
}
@media (max-width: 768px) {
  .HD_Search_Box {
    margin: 0;
  }
}

.HD_Search_text_outer {
  padding: 0 8px;
}

.HD_Search_text {
  height: 35px;
  width: 100%;
  border: none;
  font-size: 15px;
  color: #7f8492;
  background-color: #f7f7ff;
}
@media (max-width: 768px) {
  .HD_Search_text {
    background-color: #2d3340;
  }
}

.HD_Search_btn {
  position: absolute;
  height: 35px;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #42495a;
}
.HD_Search_btn:hover {
  background-color: #656c7d;
}
@media (max-width: 768px) {
  .HD_Search_btn:hover {
    background-color: none;
  }
}

.HD_Search_suggestion {
  position: absolute;
  width: 100%;
  top: 35px;
  left: -1px;
  background-color: #f7f7ff;
  border: 1px solid #393f4e;
  z-index: 150;
}

.HD_Search_suggestion_item:link, .HD_Search_suggestion_item:visited {
  display: block;
  line-height: 30px;
  font-size: 12px;
  padding: 0 8px;
  color: #393f4e;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.HD_Search_suggestion_item:link span, .HD_Search_suggestion_item:visited span {
  color: #393f4e;
}
.HD_Search_suggestion_item:link ._input, .HD_Search_suggestion_item:visited ._input {
  color: #46709b;
}
.HD_Search_suggestion_item:hover {
  background-color: #58a8e4;
}

.HD_Hot {
  float: left;
  position: relative;
  width: 38%;
  margin: 13.5px 0 0 2%;
  height: 38px;
}
@media (max-width: 768px) {
  .HD_Hot {
    display: none;
  }
}

.HD_Hot_inner {
  padding: 0 24px 0 42px;
}
.HD_Hot_inner._open .HD_Hot_more {
  background-color: #656c7d;
}
.HD_Hot_inner._open .HD_Hot_more:before {
  border: 0;
  display: block;
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid white;
  content: "";
  display: block;
}

.HD_Hot_tag {
  width: 32px;
  position: absolute;
  left: 0;
  top: 10px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  background: #656c7d;
  color: white;
}

.HD_Hot_keywordsArea {
  height: 38px;
  overflow: hidden;
}
.HD_Hot_keywordsArea ._tc {
  display: table-cell;
  vertical-align: middle;
}
.HD_Hot_keywordsArea ._ovf {
  height: 38px;
  line-height: 19px;
  overflow: hidden;
}

.HD_Hot_keyword {
  font-size: 12px;
  word-wrap: break-word;
}
.HD_Hot_keyword:link, .HD_Hot_keyword:visited {
  color: white;
}

.HD_Hot_more {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 12px;
  cursor: pointer;
}
.HD_Hot_more:before {
  position: absolute;
  top: 5px;
  left: 3px;
  display: block;
  height: 0;
  width: 0;
  border-top: 4px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  display: block;
}
.HD_Hot_more:hover {
  background-color: #656c7d;
}

.HD_Hot_moreList {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 44px;
  z-index: 150;
}

.HD_Hot_moreList_inner {
  padding: 4px 8px;
  background-color: #f7f7ff;
  border: 1px solid #393f4e;
  line-height: 19px;
}

.HD_Hot_moreItem {
  font-size: 12px;
}
.HD_Hot_moreItem a:link, .HD_Hot_moreItem a:visited {
  color: #393f4e;
  word-wrap: break-word;
}
.HD_Hot_moreItem:after {
  content: ",";
}
.HD_Hot_moreItem:nth-last-child(1):after, .HD_Hot_moreItem:nth-last-child(2):after, .HD_Hot_moreItem:nth-last-child(3):after, .HD_Hot_moreItem:nth-last-child(4):after {
  content: none;
}

.HD_MemberTools {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 122px;
  min-height: 64px;
  max-height: 64px;
}
.HD_MemberTools._open .HD_Member {
  background-color: #2d3340;
}
.HD_MemberTools._open .HD_Member:hover {
  background-color: #1e2430;
}

@media (max-width: 768px) {
  .HD_MemberTools {
    min-width: 56.25px;
    background-color: #42495a;
  }
  .HD_MemberTools._open .HD_Member {
    background-color: #2d3340;
  }
}

.HD_Member {
  height: 26px;
  padding: 19px 8px;
  cursor: pointer;
  *zoom: 1;
}
.HD_Member:after {
  content: "";
  display: table;
  clear: both;
}
.HD_Member:hover {
  background-color: #2d3340;
}
@media (max-width: 768px) {
  .HD_Member {
    text-align: center;
  }
}

.HD_Member_photo {
  width: 26px;
  height: 26px;
  margin-right: 4px;
  border: 1px solid black;
}
@media (max-width: 768px) {
  .HD_Member_photo {
    margin: 0;
    margin-left: 6px;
    border: 0;
  }
}

.HD_Member_name {
  max-width: 140px;
  font-size: 12px;
  line-height: 26px;
  color: white;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .HD_Member_name {
    font-size: 0;
  }
}

.HD_MemberTool_list {
  display: none;
  position: absolute;
  top: 64px;
  width: 100%;
  background-color: #393f4e;
  z-index: 150;
}
@media (max-width: 768px) {
  .HD_MemberTool_list {
    top: 64px;
    right: 0;
    width: 158px;
    border-top: 1px solid #2d3340;
    position: fixed;
  }
}

.HD_MemberTool_item {
  display: block;
  position: relative;
  padding-left: 38px;
  line-height: 30px;
  font-size: 13px;
}
.HD_MemberTool_item:link, .HD_MemberTool_item:visited {
  color: #7f8492;
  text-decoration: none;
}
.HD_MemberTool_item:hover {
  color: white;
  background-color: #1e2430;
}
.HD_MemberTool_item:before {
  position: absolute;
  left: 11px;
  top: 7px;
  content: "";
  display: block;
}

@media (max-width: 768px) {
  .HD_MemberTool_item {
    display: visible;
    font-size: 16px;
  }
  .HD_MemberTool_item:link, .HD_MemberTool_item:visited {
    display: block;
    line-height: 43.2px;
    color: white;
    padding: 0 13px 0 38px;
    text-decoration: none;
  }
  .HD_MemberTool_item:hover {
    background: #2d3340;
  }
  .HD_MemberTool_item:before {
    top: 15.05px;
  }
}

.Main {
  width: 79.68127%;
  float: left;
  margin-right: 1.59363%;
  display: inline;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
@media (max-width: 1024px) {
  .Main {
    width: 74.5%;
    float: left;
    margin-right: 2%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .Main {
    width: 100%;
    float: left;
    margin-right: 2.68456%;
  }
}
@media (max-width: 480px) {
  .Main {
    width: 100%;
    float: left;
    margin-right: 4.08163%;
  }
}

.Breadcrumbs {
  padding: 8px 0;
  font-size: 13px;
  color: #aaaaaa;
  line-height: 28px;
}
.Breadcrumbs .Path {
  padding: 0 5px;
}
.Breadcrumbs .PathCurrent {
  color: #656c7d;
}

.SecSel._pureTag .SecSel_List {
  *zoom: 1;
  margin-bottom: 6px;
}
.SecSel._pureTag .SecSel_List:after {
  content: "";
  display: table;
  clear: both;
}
.SecSel._pureTag .SecSel_Item {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.SecSel._pureTag .SecSel_Item:last-child {
  margin-right: 0;
}
.SecSel._pureTag .SecSel_Item a {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  padding: 4px 28px;
  background-color: #aaaaaa;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.SecSel._pureTag .SecSel_Item:hover a {
  background-color: #7f8492;
  color: white;
}
.SecSel._pureTag .SecSel_Item._current a {
  background-color: #46709b;
  color: white;
}
.SecSel._boxTag .SecSel_List {
  height: 33px;
  border-left: 1px solid #d6d6d6;
  border-bottom: 1px solid black;
}
.SecSel._boxTag .SecSel_Item {
  float: left;
  margin: -1px 0 0 -1px;
}
.SecSel._boxTag .SecSel_Item a {
  display: inline-block;
  border: 1px solid #d6d6d6;
  border-bottom: 0;
  font-size: 15px;
  line-height: 1em;
  padding: 9px 20px;
  color: #656c7d;
  background-color: whitesmoke;
  text-decoration: none;
}
.SecSel._boxTag .SecSel_Item:hover a {
  background-color: #e6e6e6;
}
.SecSel._boxTag .SecSel_Item._current a {
  position: relative;
  border-color: black;
  color: #46709b;
  background-color: white;
  padding: 9px 20px 10px;
}

.PageArea {
  text-align: center;
  font-size: 0;
  padding: 40px;
}
.PageArea a {
  display: inline-block;
  font-size: 13px;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #aaaaaa;
  background-color: whitesmoke;
  color: #656c7d;
  margin-left: -1px;
  text-decoration: none;
}
.PageArea a:hover {
  background: white;
  color: #46709b;
}
.PageArea a._current {
  position: relative;
  border-color: #393f4e;
  background-color: white;
  color: #46709b;
}
.PageArea a.PageLast, .PageArea a.PageNext {
  min-width: 68px;
}
.PageArea a.PageLast._disabled, .PageArea a.PageNext._disabled {
  color: #aaaaaa;
  background-color: whitesmoke;
}
.PageArea a.PageLast:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
}
.PageArea a.PageNext:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
}
.PageArea .ellipsis {
  font-size: 13px;
  color: #656c7d;
  padding: 0 10px 0 8px;
}
.PageArea._dark a {
  background-color: white;
}
.PageArea._dark a:hover {
  border-color: #7f8492;
  position: relative;
}
.PageArea._dark a._current {
  border-color: #46709b;
  z-index: 1;
}
.PageArea._dark a._disabled {
  border-color: #aaaaaa;
}

@media screen and (max-width: 512px) {
  .PageArea .num {
    display: none;
  }
  .PageArea .PageLast, .PageArea .PageNext {
    padding: 3px 16px;
    min-width: auto;
  }
}

.ArticleContent {
  padding-bottom: 40px;
  *zoom: 1;
}
.ArticleContent:after {
  content: "";
  display: table;
  clear: both;
}

.art_list_Box, .errorBox {
  text-align: left;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
  .art_list_Box, .errorBox {
    margin-bottom: 20px;
  }
}

.art_list {
  margin: 0 40px;
  padding: 40px 0;
  border-bottom: 1px dashed #e6e6e6;
  *zoom: 1;
}
.art_list:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 768px) {
  .art_list {
    margin: 0 20px;
    padding: 20px 0;
  }
}
@media (max-width: 480px) {
  .art_list {
    margin: 0 10px;
    padding: 10px 0;
  }
}

.art_list_pic {
  max-height: 210px;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.art_list_pic img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.art_title {
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  max-height: 56px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.art_title a {
  color: #393f4e;
}
.art_title a:hover {
  color: #46709b;
}
@media (max-width: 768px) {
  .art_title {
    font-size: 20px;
    margin-top: 10px;
  }
}

.art_date {
  font-size: 12px;
  color: #aaaaaa;
  letter-spacing: 1px;
  margin: 4px 0;
}
.art_date a {
  color: #aaaaaa;
}
.art_date a:hover {
  color: #46709b;
}

.art_content_date {
  font-size: 13px;
  color: #7f8492;
  margin: 10px 0;
}
.art_content_date span {
  color: #656c7d;
}
.art_content_date a {
  color: #46709b;
}

.art_desc {
  font-size: 15px;
  color: #333333;
}

.art_more {
  font-size: 15px;
  margin: 4px 0;
  display: inline-block;
}
.art_more a {
  color: #6f95bb;
}
.art_more a:hover {
  color: #46709b;
}

.errorBox {
  min-height: 300px;
}
.errorBox .error {
  margin: 0 20px;
  padding: 20px 0 0 0;
}
.errorBox .error ._title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffb85d;
}
.errorBox .error ._desc {
  font-size: 20px;
}
.errorBox .art_relBox {
  margin: 0 20px;
}
.errorBox .art_infoBox {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 24px;
}

.PG {
  padding: 40px;
}
.PG .PG_Box {
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  color: #7f8492;
}
.PG .PG_Box .num, .PG .PG_Box .page {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #aaaaaa;
  background: whitesmoke;
  margin-right: 2px;
  color: #7f8492;
}
.PG .PG_Box .num:hover, .PG .PG_Box .page:hover {
  text-decoration: none;
  background: white;
  border: 1px solid #7f8492;
  color: #393f4e;
}
.PG .PG_Box .disabled {
  background: none;
  border: none;
}
.PG .PG_Box .disabled:hover {
  background: none;
  border: none;
  color: #7f8492;
}
.PG .PG_Box .current {
  font-weight: bold;
  background: white;
  border: 1px solid #7f8492;
  color: #393f4e;
}

@media screen and (max-width: 512px) {
  .PG .PG_Box .num {
    display: none;
  }
  .PG .PG_Box .page {
    padding: 3px 20px;
  }
}

.art_moduleBox {
  width: 100%;
  float: right;
  max-width: 300px;
  background: white;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
}
.art_moduleBox + .art_moduleBox {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .art_moduleBox {
    width: 100%;
    max-width: 100%;
  }
}

.art_mdTitle {
  background: whitesmoke;
  border-bottom: 1px solid #e6e6e6;
  line-height: 40px;
  padding: 0 10px;
  color: #666666;
  font-weight: bold;
  font-size: 16px;
  border-top: 1px solid white;
}
.art_mdTitle .moreBox {
  float: right;
  font-weight: bold;
  font-size: 15px;
}
.art_mdTitle .moreBox a {
  color: #365e86;
}

.art_mdContent {
  padding: 0 10px;
  font-size: 15px;
}
.art_mdContent a {
  color: #46709b;
}
.art_mdContent .int_search_Box {
  width: 94%;
  margin: 20px auto;
  font-size: 15px;
  line-height: 24px;
  color: #7f8492;
  border: 1px solid #e6e6e6;
  padding: 4px;
  background: #fafafa;
}

@media (max-width: 768px) {
  .md_searchBox {
    display: none;
  }
}
.md_searchBox .HD_Search {
  margin: 13.5px 3px 0 0px;
}
.md_searchBox .HD_Search form {
  background-color: #fcfcfc;
  border: 1px solid #e6e6e6;
}
.md_searchBox .HD_Search_text {
  background-color: #fcfcfc;
}
.md_searchBox .HD_Search_btn {
  background-color: #fcfcfc;
  margin-top: 3px;
}

.art_mdList + .art_mdList {
  border-top: 1px dashed #e6e6e6;
}
.art_mdList .md_listItem {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 0;
  color: #46709b;
  font-weight: bold;
}
.art_mdList .md_listItem + .md_listItem {
  border-top: 1px dashed #e6e6e6;
}
.art_mdList .md_listItem .md_info, .art_mdList .md_listItem span {
  font-size: 12px;
  color: #aaaaaa;
  line-height: 2;
  font-weight: 400;
  *zoom: 1;
}
.art_mdList .md_listItem .md_info:after, .art_mdList .md_listItem span:after {
  content: "";
  display: table;
  clear: both;
}
.art_mdList .md_listItem .md_info .md_infoView, .art_mdList .md_listItem span .md_infoView {
  float: left;
}
.art_mdList .md_listItem .md_info .md_infoDate, .art_mdList .md_listItem span .md_infoDate {
  float: right;
}
.art_mdList ._open:before, .art_mdList ._close:before {
  display: inline-block;
  content: "+";
  border: 1px solid #aaaaaa;
  font-size: 12px;
  color: #aaaaaa;
  vertical-align: middle;
  text-align: center;
  line-height: 12px;
  width: 12px;
  cursor: pointer;
}
.art_mdList ._open:hover:before, .art_mdList ._close:hover:before {
  border: 1px solid #7f8492;
  color: #7f8492;
  background: whitesmoke;
}
.art_mdList ._close:before {
  content: "-";
  border: 1px solid #7f8492;
  color: #7f8492;
  background: whitesmoke;
}
.art_mdList .sub_mdList {
  font-size: 13px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  font-weight: 400;
}
.art_mdList .sub_mdList a {
  color: #656c7d;
}
.art_mdList .sub_mdList .sub_mdList_Item {
  padding: 0;
  margin: 0;
  background: url(../images/dot.png) repeat-y 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #656c7d;
}
.art_mdList .sub_mdList .sub_mdList_Item ._dot {
  display: block;
  width: 14px;
  height: 24px;
  background: url(../images/submd_dots.png) no-repeat 0 -14px;
  float: left;
}
.art_mdList .sub_mdList .sub_mdList_Item:last-child {
  background: none;
}
.art_mdList .sub_mdList .sub_mdList_Item:last-child ._dot {
  background: url(../images/submd_dots.png) no-repeat 0 -40px;
}

.art_md_box {
  *zoom: 1;
}
.art_md_box:after {
  content: "";
  display: table;
  clear: both;
}
.art_md_box ._content {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  display: block;
  font-size: 15px;
  max-width: 300px;
}
.art_md_box:hover {
  outline: 1px solid #a1bcd7;
  -webkit-box-shadow: 0 2px 4px rgba(170, 170, 170, 0.6);
  -moz-box-shadow: 0 2px 4px rgba(170, 170, 170, 0.6);
  box-shadow: 0 2px 4px rgba(170, 170, 170, 0.6);
}
.art_md_box img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.art_md_box a {
  color: #656c7d;
  text-decoration: none;
}
.art_md_box a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .art_md_box ._content {
    float: left;
    max-width: 58%;
    vertical-align: middle;
    padding: 3% 0;
  }
  .art_md_box img {
    float: left;
    margin: 1.5% auto;
    vertical-align: middle;
  }
}
@media (max-width: 480px) {
  .art_md_box ._content {
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    display: block;
    font-size: 15px;
    max-width: 300px;
    width: auto;
    float: none;
  }
  .art_md_box img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    float: none;
  }
}
.art_ifBox {
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}
.art_ifBox iframe {
  min-width: 300px;
  vertical-align: middle;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .art_ifBox {
    padding: 10px 0;
  }
}
@media (max-width: 480px) {
  .art_ifBox {
    padding: 0;
  }
}

.art_content_social {
  *zoom: 1;
}
.art_content_social:after {
  content: "";
  display: table;
  clear: both;
}
.art_content_social ._facebook {
  padding: 20px 0px;
  border: 1px solid #ececec;
}

.md_btnBox .btnBox {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 17px;
  width: 100%;
  *zoom: 1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}
.md_btnBox .btnBox:after {
  content: "";
  display: table;
  clear: both;
}
.md_btnBox + .md_btnBox {
  margin-top: 10px;
}
.md_btnBox a {
  color: white;
  text-decoration: none;
}
.md_btnBox ._text {
  width: 100%;
  padding: 15px 0;
  display: block;
}
.md_btnBox ._object {
  background: #5cbcc1;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.md_btnBox ._object:hover {
  background: #009da6;
}
.md_btnBox ._qa {
  background: #9299b0;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.md_btnBox ._qa:hover {
  background: #767e94;
}
.md_btnBox ._data {
  background: #6f95bb;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.md_btnBox ._data:hover {
  background: #46709b;
}

@media (max-width: 768px) {
  .md_btnBox + .md_btnBox {
    margin-top: 0;
    margin-left: 1%;
  }

  .btnBox {
    max-width: 49%;
  }

  ._object {
    float: left;
  }

  ._qa {
    float: right;
  }

  ._data {
    float: right;
  }
}
@media screen and (max-width: 350px) {
  .md_btnBox + .md_btnBox {
    margin-left: 0;
    margin-top: 10px;
  }

  .btnBox {
    max-width: 100%;
  }

  ._object {
    float: none;
  }

  ._qa {
    float: none;
  }

  ._data {
    float: none;
  }
}
.art_content_Box {
  text-align: left;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
  .art_content_Box {
    margin-bottom: 20px;
  }
}
.art_content_Box .art_box {
  margin: 20px;
}
@media (max-width: 480px) {
  .art_content_Box .art_box {
    margin: 10px;
  }
}
.art_content_Box .art_box .art_mainTitle {
  font-size: 27px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 5px;
  color: #42495a;
}
.art_content_Box .art_box .art_date {
  margin-left: 5px;
}
.art_content_Box .art_content {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #656c7d;
  font-size: 15px;
  line-height: 1.8;
}
.art_content_Box .art_content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 5px auto;
}
.art_content_Box .art_content h2, .art_content_Box .art_content h3, .art_content_Box .art_content h4, .art_content_Box .art_content h5, .art_content_Box .art_content h6 {
  display: block;
  margin: 12px auto;
  line-height: 1.6;
}
.art_content_Box .art_content h2 {
  font-size: 20px;
  font-weight: bold;
  color: #393f4e;
}
.art_content_Box .art_content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #666699;
}
.art_content_Box .art_content h4 {
  font-size: 16px;
  font-weight: bold;
  color: #00adb7;
}
.art_content_Box .art_content h5 {
  font-size: 15px;
  font-weight: bold;
  color: #666699;
}
.art_content_Box .art_content h6 {
  font-size: 15px;
  font-weight: bold;
  color: #ff6706;
}
.art_content_Box .art_content a {
  padding: 2px;
}
.art_content_Box .art_content ul li {
  background: url("../images/list_arr.png") no-repeat 0px 10px;
  padding-left: 10px;
}

.art_relBox {
  border: 1px dashed #e6e6e6;
  padding: 20px;
  font-size: 15px;
  margin: 10px 0;
}
.art_relBox .rel_item {
  padding-left: 5px;
}
.art_relBox .rel_item:before {
  content: "»";
  font-size: 12px;
  margin-right: 5px;
  color: #7f8492;
}

.rel_title {
  margin-bottom: 5px;
  font-size: 15px;
}

.art_infoBox {
  background: #fafafa;
  padding: 20px;
  color: #393f4e;
  font-size: 15px;
  margin: 10px 0;
}
.art_infoBox a {
  color: #ff6706;
  padding: 0 3px;
}

.art_tagBox {
  margin: 10px 0;
}
.art_tagBox span {
  font-size: 13px;
  display: inline-block;
  margin-top: 4px;
}
.art_tagBox span + span {
  margin-left: -1px;
}
.art_tagBox span a {
  display: inline-block;
  padding: 3px 8px;
  background: whitesmoke;
  color: #7f8492;
}
.art_tagBox span a:hover {
  text-decoration: none;
  background: #656c7d;
  color: white;
}
.art_tagBox ._title {
  padding: 3px 8px;
  border: 1px solid #e6e6e6;
}

.art_npBox {
  margin: 10px 0;
  padding: 20px;
  *zoom: 1;
}
.art_npBox:after {
  content: "";
  display: table;
  clear: both;
}
.art_npBox .npItem {
  font-size: 15px;
}
.art_npBox .npItem + .npItem {
  padding-top: 5px;
}

.commentBox iframe {
  width: 100% !important;
}

.fb_iframe_widget_fluid span {
  width: 100% !important;
}

.art_shareBox {
  *zoom: 1;
}
.art_shareBox:after {
  content: "";
  display: table;
  clear: both;
}

.shareBox {
  *zoom: 1;
  margin-top: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
}
.shareBox:after {
  content: "";
  display: table;
  clear: both;
}
.shareBox ._block {
  float: left;
  *zoom: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.shareBox ._block:after {
  content: "";
  display: table;
  clear: both;
}
.shareBox ._block + ._block {
  margin-left: 5px;
}
.shareBox ._share {
  background: #495163;
  color: white;
  font-size: 13px;
  line-height: 32px;
  padding: 0 10px;
}
.shareBox ._fb {
  background-color: #3b5998;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.shareBox ._fb:hover {
  background-color: #3a5da8;
  -webkit-box-shadow: 0 4px 0 #1d356a;
  -moz-box-shadow: 0 4px 0 #1d356a;
  box-shadow: 0 4px 0 #1d356a;
  margin-top: -4px;
}
.shareBox ._google {
  background-color: #d14333;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.shareBox ._google:hover {
  background-color: #e35140;
  -webkit-box-shadow: 0 4px 0 #ba3020;
  -moz-box-shadow: 0 4px 0 #ba3020;
  box-shadow: 0 4px 0 #ba3020;
  margin-top: -4px;
}
.shareBox ._num {
  float: left;
  *zoom: 1;
  position: relative;
}
.shareBox ._num:after {
  content: "";
  display: table;
  clear: both;
}
.shareBox ._num + ._block {
  margin-left: 5px;
}
.shareBox .img-share_arr {
  position: absolute;
  left: 0;
}
.shareBox ._text {
  background-color: #ececec;
  display: inline-block;
  line-height: 32px;
  padding: 0 10px;
  font-size: 12px;
  color: #656c7d;
  cursor: pointer;
  margin-left: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.shareBox span {
  display: block;
  float: left;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
}
.shareBox span + span {
  margin-left: 5px;
}

.listTable {
  margin-top: 30px;
}
.listTable table.tb_Box {
  border: 1px solid #ebebeb;
  border-spacing: 0;
  table-layout: fixed;
  margin-top: 15px;
  margin: 0 auto;
}
.listTable table.tb_Box tr + tr {
  border-top: 1px solid #ebebeb;
}
.listTable table.tb_Box tr:hover {
  background: #fcfcfc;
  cursor: pointer;
}
.listTable table.tb_Box th {
  background: #fafafa;
  text-align: center;
  padding: 12px 5px;
  border: 0;
}
.listTable table.tb_Box td {
  font-size: 15px;
  line-height: 1.5;
  padding: 10px 0;
  position: relative;
  border: 0;
  vertical-align: middle;
  border-top: 1px solid #ebebeb;
}
.listTable table.tb_Box td div {
  display: block;
  margin-bottom: 8px;
}
.listTable table.tb_Box td:first-child {
  font-weight: bold;
  text-align: center;
}
.listTable table.tb_Box td:nth-child(2), .listTable table.tb_Box td:nth-child(4) {
  color: #0099a2;
  text-align: center;
}
.listTable table.tb_Box td:last-child {
  text-align: left;
  padding-left: 10px;
}
.listTable .b_pic, .listTable .b_name {
  width: 100px;
}
.listTable .b_state {
  width: 180px;
}
.listTable .b_pro {
  width: 60px;
}
.listTable table.tb_Box {
  margin: 0 auto;
}
.listTable table.tb_Box img {
  width: 80px;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
}
.listTable table.tb_Box ul {
  width: 100%;
  text-align: left;
  table-layout: fixed;
}
.listTable table.tb_Box ul li {
  background-image: none;
  width: 96%;
  font-size: 15px;
}
.listTable table.tb_Box ul li + li {
  padding-bottom: 8px;
}
.listTable table.tb_Box ul li p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.listTable table.tb_Box ul li div {
  width: 4px;
  height: 4px;
  background: #0099a2;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 7px;
}
.listTable .b_more {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.listTable .b_more a {
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  padding-right: 8px;
  font-size: 13px;
}
.listTable .b_more a:hover {
  color: #0099a2;
}
.listTable table.tb_Box tr:hover .b_more a {
  color: #0099a2;
}

.listBox {
  margin: 20px auto;
  position: relative;
  width: 100%;
}
.listBox:after {
  height: 0px;
  overflow: hidden;
  clear: both;
  display: block;
  visibility: hidden;
  content: ".";
}
.listBox .pic {
  float: left;
}
.listBox .pic img {
  width: 180px;
  height: auto;
}
.listBox .profile {
  float: left;
  margin-left: 30px;
}

h3 img {
  display: inline-block !important;
}

.profile .nameBox {
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #0099a2;
}
.profile table {
  line-height: 1.8;
  border: 0;
  max-width: 665px;
}
.profile table th {
  padding: 2px 10px 2px 0;
  vertical-align: top;
  font-weight: bold;
  border: 0;
  width: 50px;
}
.profile table th:after {
  content: ":";
}
.profile table td {
  color: #6f6f6f;
  padding-bottom: 12px;
  border: 0;
}
.profile table .state {
  color: #666699;
  font-weight: bold;
}
.profile table td a {
  text-decoration: underline;
  color: #0099a2;
}
.profile table td a:hover {
  color: #ff6706;
}

.event_list {
  margin: 0 auto;
  padding: 0;
  border: 1px solid #ebebeb;
}
.event_list ._title {
  background: #fafafa !important;
  color: #525252;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  padding: 5px 10px;
}
.event_list li {
  padding: 10px 10px;
  line-height: 2;
  color: #6f6f6f;
  background-image: none !important;
}
.event_list li + li + li {
  border-top: 1px solid #ebebeb;
}
.event_list li p {
  margin: 0;
  padding: 0;
  float: left;
}
.event_list li div {
  width: 4px;
  height: 4px;
  background: #0099a2;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: 14px;
  float: left;
}
.event_list + .event_list {
  margin-top: 20px;
}

.b_logo {
  display: inline-block;
  width: 199px;
  height: 169px;
  background: url("http://news.ezprice.com.tw/images/logo_top.png") no-repeat 0 0;
  position: absolute;
  top: -130px;
  right: 16px;
  z-index: 1;
}

._hidden {
  display: none;
}

.FT {
  text-align: center;
  background: #e6e6e6;
  color: #777777;
  font-size: 13px;
}
.FT h1 {
  color: #666666;
}

.img-top {
  position: fixed;
  bottom: 10px;
  right: 50%;
  margin-right: -700px;
  cursor: pointer;
  display: none;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
@media (max-width: 1024px) {
  .img-top {
    right: 0%;
    margin-right: 0;
    bottom: 90px;
  }
}
